/* Footer Styles */
.footer {
  padding: 3em;
  height: auto;
  p {
  color: white;
  font-size: 13px;
  }
  li {
  color: white;
  font-size: 13px;
  }
}

.footer {
  background-color: black !important;
}